<a href="https://colab.research.google.com/github/Chigoziee/caesar/blob/master/Hamoye%20Stage%20A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
food_data = pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')
food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [8]:
food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [9]:
food_data.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [16]:
food_data.Y2014.sum()

7965086.130000001

In [15]:
food_data.Area.unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "Côte d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [21]:
food_data.sort_values(by='Element', ascending = True).head(50)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
28211,114,Kenya,2960,"Fish, Seafood",5301,Domestic supply quantity,1000 tonnes,194.11,190.56,175.17,156.37,156.37
37698,143,Morocco,2908,Sugar Crops,5301,Domestic supply quantity,1000 tonnes,3290.00,3711.00,4358.00,3960.00,4269.00
37705,143,Morocco,2536,Sugar cane,5301,Domestic supply quantity,1000 tonnes,279.00,374.00,408.00,517.00,558.00
5968,233,Burkina Faso,2572,Groundnut Oil,5301,Domestic supply quantity,1000 tonnes,9.00,9.00,9.00,10.00,10.00
37713,143,Morocco,2537,Sugar beet,5301,Domestic supply quantity,1000 tonnes,3011.00,3336.00,3950.00,3442.00,3711.00
37721,143,Morocco,2909,Sugar & Sweeteners,5301,Domestic supply quantity,1000 tonnes,1327.00,1298.00,1407.00,1331.00,1316.00
18743,209,Eswatini,2736,"Offals, Edible",5301,Domestic supply quantity,1000 tonnes,3.00,3.00,3.00,3.00,3.00
37736,143,Morocco,2542,Sugar (Raw Equivalent),5301,Domestic supply quantity,1000 tonnes,1307.00,1285.00,1382.00,1305.00,1290.00
37749,143,Morocco,2543,"Sweeteners, Other",5301,Domestic supply quantity,1000 tonnes,13.00,6.00,19.00,19.00,19.00
11884,39,Chad,2943,Meat,5301,Domestic supply quantity,1000 tonnes,596.00,636.00,666.00,707.00,750.00
5955,233,Burkina Faso,2571,Soyabean Oil,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37761,143,Morocco,2745,Honey,5301,Domestic supply quantity,1000 tonnes,6.00,7.00,7.00,7.00,7.00
37773,143,Morocco,2911,Pulses,5301,Domestic supply quantity,1000 tonnes,371.00,318.00,237.00,291.00,399.00
18732,209,Eswatini,2945,Offals,5301,Domestic supply quantity,1000 tonnes,3.00,3.00,3.00,3.00,3.00
37788,143,Morocco,2546,Beans,5301,Domestic supply quantity,1000 tonnes,5.00,5.00,0.00,3.00,6.00
37801,143,Morocco,2547,Peas,5301,Domestic supply quantity,1000 tonnes,35.00,37.00,29.00,36.00,38.00
5942,233,Burkina Faso,2914,Vegetable Oils,5301,Domestic supply quantity,1000 tonnes,123.00,145.00,152.00,163.00,132.00
37815,143,Morocco,2549,"Pulses, Other and products",5301,Domestic supply quantity,1000 tonnes,331.00,276.00,209.00,252.00,355.00
18722,209,Eswatini,2735,"Meat, Other",5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37830,143,Morocco,2912,Treenuts,5301,Domestic supply quantity,1000 tonnes,112.00,109.00,125.00,131.00,144.00
57857,215,United Republic of Tanzania,2743,Cream,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37843,143,Morocco,2551,Nuts and products,5301,Domestic supply quantity,1000 tonnes,112.00,109.00,125.00,131.00,144.00
5928,233,Burkina Faso,2570,"Oilcrops, Other",5301,Domestic supply quantity,1000 tonnes,31.00,39.00,39.00,22.00,11.00
37856,143,Morocco,2913,Oilcrops,5301,Domestic supply quantity,1000 tonnes,1720.00,1301.00,1535.00,1138.00,1572.00
57868,215,United Republic of Tanzania,2737,"Fats, Animals, Raw",5301,Domestic supply quantity,1000 tonnes,11.00,11.00,11.00,11.00,11.00
37686,143,Morocco,2534,"Roots, Other",5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60417,181,Zimbabwe,2625,"Fruits, Other",5301,Domestic supply quantity,1000 tonnes,30.00,31.00,26.00,27.00,22.00
5981,233,Burkina Faso,2573,Sunflowerseed Oil,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37513,143,Morocco,2805,Rice and products,5301,Domestic supply quantity,1000 tonnes,32.00,64.00,56.00,75.00,83.00
18786,209,Eswatini,2737,"Fats, Animals, Raw",5301,Domestic supply quantity,1000 tonnes,1.00,1.00,1.00,1.00,1.00
6020,233,Burkina Faso,2576,Palmkernel Oil,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37528,143,Morocco,2513,Barley and products,5301,Domestic supply quantity,1000 tonnes,2676.00,2902.00,2700.00,2441.00,2990.00
11868,39,Chad,2658,"Beverages, Alcoholic",5301,Domestic supply quantity,1000 tonnes,1.00,0.00,0.00,0.00,0.00
37544,143,Morocco,2514,Maize and products,5301,Domestic supply quantity,1000 tonnes,2191.00,2207.00,2252.00,2488.00,2246.00
37559,143,Morocco,2515,Rye and products,5301,Domestic supply quantity,1000 tonnes,2.00,2.00,2.00,2.00,2.00
59345,251,Zambia,2781,"Fish, Body Oil",5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37572,143,Morocco,2516,Oats,5301,Domestic supply quantity,1000 tonnes,37.00,43.00,19.00,36.00,25.00
18775,209,Eswatini,2743,Cream,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
6007,233,Burkina Faso,2575,Cottonseed Oil,5301,Domestic supply quantity,1000 tonnes,55.00,60.00,62.00,66.00,63.00
18711,209,Eswatini,2734,Poultry Meat,5301,Domestic supply quantity,1000 tonnes,8.00,7.00,7.00,7.00,8.00
37586,143,Morocco,2517,Millet and products,5301,Domestic supply quantity,1000 tonnes,8.00,8.00,9.00,9.00,9.00
18767,209,Eswatini,2740,"Butter, Ghee",5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37616,143,Morocco,2520,"Cereals, Other",5301,Domestic supply quantity,1000 tonnes,2.00,1.00,3.00,2.00,2.00
37630,143,Morocco,2907,Starchy Roots,5301,Domestic supply quantity,1000 tonnes,2012.00,2054.00,2042.00,1957.00,1901.00
5994,233,Burkina Faso,2574,Rape and Mustard Oil,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37641,143,Morocco,2532,Cassava and products,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
59912,181,Zimbabwe,2912,Treenuts,5301,Domestic supply quantity,1000 tonnes,3.00,3.00,2.00,2.00,2.00
37652,143,Morocco,2531,Potatoes and products,5301,Domestic supply quantity,1000 tonnes,1991.00,2036.00,2026.00,1940.00,1882.00
11878,39,Chad,2659,"Alcohol, Non-Food",5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37666,143,Morocco,2533,Sweet potatoes,5301,Domestic supply quantity,1000 tonnes,22.00,18.00,16.00,17.00,18.00